<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yamba.com.example.netanel.yamba">

    <permission
        android:name="yamba.com.example.netanel.yamba.SEND_TIMELINE_PERMISSION"
        android:protectionLevel="normal" />
    <permission
        android:name="yamba.com.example.netanel.yamba.RECEIEVE_TIMELINE_PERMISSION"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="yamba.com.example.netanel.yamba.SEND_TIMELINE_PERMISSION" />
    <uses-permission android:name="yamba.com.example.netanel.yamba.RECEIEVE_TIMELINE_PERMISSION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:name=".YambaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StatusActivity1" />
        <activity
            android:name=".PrefsActivity"
            android:label="@string/titlePrefs" />

        <service
            android:name=".ServiceUpdate"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".TimelineActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".NetworkReceiever"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name=".StatusProvider"
            android:authorities="yamba.com.example.netanel.yamba.statusprovider"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".YambaWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="yamba.com.example.netanel.yamba.UPDATE_INTENT" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/yamba_widget_info" />
        </receiver>
    </application>

</manifest>